<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <!-- cxf的控制器初始默认配置 -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <!-- 配置发布服务 -->
    <jaxws:server address="/mobile" serviceClass="cn.oriki.cxf.service.MobileAddressService">
        <jaxws:serviceBean>
            <ref bean="mobileAddressService"/>
        </jaxws:serviceBean>
    </jaxws:server>

    <!-- service -->
    <bean id="mobileAddressService" class="cn.oriki.cxf.service.impl.MobileAddressServiceImpl"></bean>

</beans>
